extends ../layouts/default

block append variables
    - var currentPage = "contact";
    
block content
    .container#contact
        h1 CONTACT ME
        p If you would like to express your opinions on the website or report bugs, you may contact me by filling out this <a href="https://docs.google.com/forms/d/e/1FAIpQLSd_YKiove4Pco4iXLHmSOwSoXgLWd0XRAHoi_qbQaNKpV8Y7A/viewform?usp=sf_link">google form</a>. However, your email would be recorded to avoid spams and acts as a contact method for me to reply you back.
        p Alternatively, you could also reply to <a href="https://hypixel.net/threads/minions-profit-calculator-events-timer.3038357">my forum post</a>. 