extends ../layouts/default

block js
    script(src="/js/jquery/jquery.doubleScroll.js")
    script(src="/js/forgeData.js")
    script(src="/js/forge.js")
    	
block append variables
    - var currentPage = "forge";
    - var numberOfItems = 3;

block meta
    meta(name="description" content="Know your most profitable minions! Tailor made for each profile, fully accurate.")

block content
    .container
        h1 FORGE
        h2 Notes to Users
        p It calculates the net profit and profit per hour generated from crafting items into upgraded version through the forge in the Dwarven Mines. 
        
        p.live The prices of the items fluctuate a lot. After forging is finished, the price may be different from now. So there is a risk of suffering from a loss even though the list says you would make a profit.
        
        h2 General Profit
        #doubleScroll
            table#forgeTable.table.table-dark.w-100
                thead
                    tr
                        th(scope="col")
                        th(scope="col") Product
                        th(scope="col") Materials
                        th(scope="col") Time Taken <br /> (Hours)
                        th(scope="col") Unit cost of material <br />(Buy instantly, 1% tax)
                        th(scope="col") Cost of materials <br /> (Buy instantly, 1% tax)
                        th(scope="col") Price of product <br /> (Sell instantly, 1% tax)
                        th(scope="col") Net Profit 
                        th(scope="col") Profit per Hour
                - let i = 0;
                while i < numberOfItems
                    tr(id="forge"+i+"Row")
                        td="#"+(i+1)
                        td(id="forge"+i+"Name")= i==0?"Loading...":""
                        td(id="forge"+i+"MaterialsName")
                        td(id="forge"+i+"Time")
                        td(id="forge"+i+"UnitCost")
                        td(id="forge"+i+"Cost")
                        td(id="forge"+i+"ProductPrice")
                        td(id="forge"+i+"NetProfit")
                        td(id="forge"+i+"ProfitPerHour")
                        
                    - i++;
        //- h2 My Profit
