extends ../layouts/default

block js
	script(src="/js/eventsData.js")
	script(src="/js/minionsOperation.js")
	script(src="/js/minionsData.js")
	script(src="/js/index.js")

block append variables 
	- var currentPage = "home";
	- var numberOfMinions = 51;

block content
	.container
		h1 Welcome to HyMinions!
		br
		.my-box
			.container
				h4#announcementsHeaderYellow.header UPDATE
				p.
					Hello visitors! Hope you have enjoyed my minion calculator. I have made some updates to the website.
				ul
					li: a(href="/events" class="live") NEW events page with new events added
					li new <a href="/abouts" class="live">abouts</a> and <a href="/contact" class="live">contact me</a> page
					li numerous bugs fixed
				p.
					If you spot a bug, feel free to <a href="/contact">contact me</a>.

		br
		.my-box
			.container
				h4#eventsHeader.header EVENTS
				h4#eventDescription Loading
				a(href="/events") View other events

		br
		.my-box
			.container
				h4#minionsHeader.header MINIONS
				a(href="/minions") Customise your own minion list
				ul
					li Tailor made for each profile
					li Real time bazaar prices
				br
				h4 Top 5 minions
				.row
					.offset-2.col-5: h5 Minion
					.col-5: h5 Total Profit per hour
				- let i = 0
				while i<5
					.row
						.col-2: p="#"+(i+1)
						.col-5: p(id="minion"+i+"Name")= i==0?"Loading...":""
						.col-5: p(id="minion"+i+"Profit")
					- i++;
				
				
				#collapseMinions.collapse
					while i<numberOfMinions
						.row
							.col-2: p="#"+(i+1)
							.col-5: p(id="minion"+i+"Name")
							.col-5: p(id="minion"+i+"Profit")
						- i++;	

				a.read-more(data-toggle="collapse" href="#collapseMinions" aria-expanded="false" aria-controls="collapseMinions") Expand/ Collapse
				
				br
				br
				p: small Based on tier 11 minions, with Enchanted Lava Bucket, Diamond Spreading and Super Compactor 3000 equipped. You are expected to sell your products using sell offers. 

				a(href="/minions") Customise your own minion list

		
		br
		.my-box
			.container
				h4#announcementsHeader.header HELP WANTED
				p.
					I have been doing some research on minion storages. I would like to know how to calculate when a minion would completely fill out, so that I can make a more advanced minion calculator.
				p.
					If your minions are full, you could help me out by screen capture the minion GUI (with the minion storages) and upload to <a href="https://docs.google.com/forms/d/e/1FAIpQLScWcmL2yTLDqHCU3yPYW5u1IVLpS5ZGx55a-ZwjZ_JYkO61Zg/viewform?usp=sf_link" class="live">this google form</a>.
				p Alternatively, if you have any insights on the calculation, you could reply to <a href="https://hypixel.net/threads/skyblock-when-would-a-minion-be-full.3669416/" class="live">my forum post</a>.
				p Thank you very much!

				