extends ../layouts/default

block append variables
    - var currentPage = "contact";
    
block content
    .container#contact
        h1 CONTACT ME
        p If you would like to express your opinions on the website or report bugs, you may contact me by joining my <a href="https://discord.gg/2KabAgsN6Y">Discord</a> (chat about HyMinions, Hypixel Skyblock or even other games), filling out this <a href="https://docs.google.com/forms/d/e/1FAIpQLSd_YKiove4Pco4iXLHmSOwSoXgLWd0XRAHoi_qbQaNKpV8Y7A/viewform?usp=sf_link">google form</a>. Alternatively, you could also reply to <a href="https://hypixel.net/threads/minions-profit-calculator-events-timer.3038357">my forum post</a>.