extends ../layouts/default

block append variables
    - var currentPage = "contact";
    
block content
    .container#contact
        h1 CONTACT ME
        p If you would like to express your opinions on the website or report bugs, you may contact me by the following methods:
        p: a(href="https://discord.gg/2KabAgsN6Y") <img src="images/discord head.png" width="45" /> &nbsp; Discord - HyMinions (Preferred)
        p: a(href="https://docs.google.com/forms/d/e/1FAIpQLSd_YKiove4Pco4iXLHmSOwSoXgLWd0XRAHoi_qbQaNKpV8Y7A/viewform?usp=sf_link") <img src="images/contact/google forms.png" width="45" /> &nbsp; Enquiry Form
        p: a(href="https://hypixel.net/threads/minions-profit-calculator-events-timer.3038357") <img src="images/contact/hypixel forum.png" width="45" /> &nbsp; Hypixel Forum Post
        p In my discord server, we could chat about HyMinions, Hypixel Skyblock or even other games. I would also provide update logs regarding the website. You could submit bug reports and suggestions in the #bug-reports and #suggetsions channel respectively.
        p I could usually reply within 1 to 2 days for the messages on Discord. It might take up to a few weeks for other contact methods.
        p If you wish to have the source code, you could contact me through any of the methods above.