extends ../layouts/default

block append variables
    - var currentPage = "contributing";
    
block content
    .container#contact
        h1 Contributing
        
        p I am unable to keep the website up-to-date and add more features along the way as I am busy at work and the game has been frequently updated. Therefore, I decided to make HyMinions open source, and rollout an API gradually throughout summer 2022. So that you could lend a helping hand to make HyMinions better.
        p This is my first time making a project open source, so be sure to <a href="/contact">correct me</a> if I made any mistakes, or if the instructions are not clear.

        h2 Documentation
        p: a(href="/info/api") APIs
        p: a(href="/info/sourcecode") Source Code
