extends ../layouts/default

block append js
    script(src="/js/eventsData.js")
    script(src="/js/events.js")
    	
block append variables
    - var currentPage = "events";
    - var numberOfEvents = 9;
    - var numberOfMajorEvents = 4;
    

block meta
    meta(name="description" content="Events timer for Spooky Festival, Season of Jerry etc.")

block content
    .container
        h1 EVENTS <img src="images/events.png" width="40"/>
        a(data-toggle="collapse" href="#collapseManualTime" aria-expanded="false" aria-controls="collapseManualTime").read-more Wrong time displayed?
        #collapseManualTime.collapse
            br
            h2 Calibration
            p The time may be inaccurate due to daylight saving time or timezone issues. You may calibrate the time here.
            p Add  &nbsp; <input id="manualTime" class="form-control" value="1" type="number"/> &nbsp; hour(s) to current time.
            button.btn(onclick="applyManualTime()") Apply
        br
        h2 Major Events
        -let i = 0;
        while i<numberOfEvents
            if i==numberOfMajorEvents
                hr
                h2 Minor Events
            .row(id="event"+i).mb-1.mt-1
                //-first row for PC, mobile
                .col-md-2.col-2: img.events
                .col-md-5.col-10: h3.name=(i==0 ? "Loading" : "")
                //-second row for mobile
                .offset-md-0.offset-2
                .col-md-5.col-10
                    h3.timeDisplayed
                    p.exactDateTime

            -i++;