//- You don't _have_ to include a link saying your site is powered by KeystoneJS, but we appreciate it!
p: small Created by KidProf/ Kid0620

p: small.
    Thank you everyone that made this website possible. (see <a href="/abouts#acknowledgements">Acknowledgements</a> for details) <br />
    Based on Skyblock on the <a href="https://hypixel.net"  target="_blank">Hypixel Server</a>, built on <a href="https://minecraft.net" target="_blank">Minecraft</a> <br />
    Powered by <a href="https://expressjs.com/" target="_blank">ExpressJS</a>
    