nav#myNav.navbar.navbar-default.navbar-expand-lg.navbar-dark: .container.my-1
    .navbar-brand
        a(href="/"): img(src="/images/aotd.png" width="40" height="40" alt="")
        a(href="https://discord.gg/2KabAgsN6Y").ml-3: img(src="/images/discord head.png" width="30" height="30" alt="")
    a.navbar-brand(href='/') HyMinions
    button.ml-3.navbar-toggler(type='button', data-toggle='collapse', data-target='#orderNav')
        span.navbar-toggler-icon.navbar-light
    .collapse.navbar-collapse#orderNav
        ul.nav.navbar-nav.mr-auto
            li.nav-item: a.nav-link(href="/" class={'active': currentPage === 'home'}) Home
            li.nav-item: a.nav-link(href="/abouts"  class={'active': currentPage === 'abouts'}) About Me
            li.nav-item: a.nav-link(href="/minions"  class={'active': currentPage === 'minions'}) Minions
            li.nav-item: a.nav-link(href="/minionsCost"  class={'active': currentPage === 'minionsCost'}) Minions (Crafts)
            li.nav-item: a.nav-link(href="/events"  class={'active': currentPage === 'events'}) Events
            li.nav-item: a.nav-link(href="/forge"  class={'active': currentPage === 'forge'}) Forge
            li.nav-item: a.nav-link(href="/contact"  class={'active': currentPage === 'contact'}) Contact Me
