extends ../../layouts/default

block content
    .container
        h1 Info: Source Code
        
        h2#sourceCode.mt-5 Source Code
        hr
        p The source code can be found <a href="https://github.com/KidProf/hyminions">here</a>.

        h2#installation.mt-5 Installation
        p Requires Node.js and npm
        p <code>npm install</code> or <code>yarn</code>

        h2#running.mt-5 Running the application
        p <code>npm run start</code> or <code>yarn start</code>
        p The app should be available at port 3000.

        h2#briefWalkthrough.mt-5 Brief walkthrough of the source code
        hr
        p HyMinions is built on <a href="https://expressjs.com/" target="_blank">ExpressJS</a>. 
        p The pages are located under <code>/templates/views</code>. <a href="https://pugjs.org/" target="_blank">Pug.js</a> is used instead of HTML. 
        p The controllers that render the pages can be found under <code>/routes/views</code>.
        p The main logic under each page can be found under  <code>/routes/api</code>.
        p Files with constants on minions and forge items can also be found in <code>/routes/api</code>.
        p You will need to create a <code>.env</code> file, containing a random string labelled <code>COOKIE_SECRET</code>, and your Hypixel API key labelled <code>HYPIXEL_KEY</code>. 
        p The forge page would not work properly because a link to my own backend server is required. However, it will not be shared with you because it is not a free service. Use <a href="/info/api">my API</a> (coming soon) to access information on the forge page. Sorry for the inconvenience. 

        h2#guidelines.mt-5 Guidelines
        hr
        ul
            li Pull requests are welcome.
            li You could also fork the code on GitHub to make your own copy of the project.
            li Citing the name of my website - HyMinions, and includes a link to HyMinions in your own application is appreciated, but not necessary.
            li If you would like me to add a link to it on HyMinions, it has to follow the following rules for me to consider:
                ul
                    li It cites the name of my website - HyMinions, and including a link to HyMinions.
                    li It is free to use and ad-free.; OR There is some way for me to share part of the revenue.
                    li <a href="/contact">Contact me</a> for exact details and I will asset on a case-by-case basis.
                    


        h2#license.mt-5 License
        hr
        p Copyright © 2020 KidProf
        p This work is licensed under the <a href="https://choosealicense.com/licenses/mit/">MIT license</a>.

        //- h2#faq.mt-5 FAQ

        //- br
        //- h3 Q: How often does this website refresh?
        //- p A: Bazaar prices would refresh as long as Hypixel API refreshes. While auction prices are refreshed every 10 minutes. As auction prices are stored in my server while bazaar prices are not.

        p Feel free to <a href="/contact">contact me</a> if you find any of this unclear.