//- You don't _have_ to include a link saying your site is powered by KeystoneJS, but we appreciate it!
p: small Created by Kid0620

p: small.
    Data source from <a href="https://hypixel.net/threads/spreadsheet-skyblock-minions-v1-7-added-sky-shiiyu-moe-importer.2166857/">Minions Sheet by TBlazeWarriorT </a> and <a href="https://hypixel-skyblock.fandom.com/wiki/Minions">Hypixel SkyBlock Wiki</a>,
    Skyblock by <a href="https://hypixel.net">Hypixel</a>, Minecraft by <a href="https://minecraft.net">Mojang</a>,
    Powered by <a href="https://expressjs.com/" target="_blank">ExpressJS</a>
    